<%- include("nav_bar.ejs") %> 

<div class="card" >
    
    <form id="login" method="post">
        <p>LOGIN</p>
        <input class="username">
        <input class="password">
        <input type="submit" formaction="/login">
        
    </form>
</div>


<%- include("footer") %> 
