<%- include("header.ejs") %>

<div class="container">
    <div class="nav-bar">
        <div><h1 class="title">Our blog</h1></div>

        <div class="profile">
            <div class="feed button">
                <a href="/">My Feed</a>
            </div>
            <div class="button write">
                <a href="/writing">Write</a>
            </div>
            <div class="button darkmode">
                <div class="circle">
                    <img src="media/svg/icons8-sun.svg" height="20px" />
                </div>
            </div>
            <div class="button profile-pic">
                <img src="media/images/image.png" height="50px" />
            </div>
        </div>
    </div>
</div>
