<div class="post" id="<%= idVal %>">
    <div class="banner">
        <img class="banner-img" />
    </div>
    <div class="title">
        <h1 class="title-text"><%= title %></h1>
    </div>
</div>
