<%- include("partials/nav_bar.ejs", {location:"../styles/style.css", sun_moon:"../media/svg/icons8-sun.svg"}) %>

<div class="card" >
    
    <form class="log-sign" id="LogIn" method="post" action="/users/login">
        <div class="sign-log-slider">
        <div class="active"><p class="sign-log-text">LOG IN</p></div>
        <p class="sign-log-text">SIGN UP</p>

        </div>
        <input required class="user-input" name="username" autocomplete="off" placeholder="Username">
        <input required type="password" class="user-input" name="password" autocomplete="off" placeholder="Password">
        <% if(locals.error) {%>
            <p class="error">*<%=error%></p>
            <%}%>
        <input class="log-btn" type="submit" value="Log In">
        
    </form>
</div>



<%- include("partials/footer.ejs",{script:"../script.js"}) %>