<%- include("partials/nav_bar.ejs", {location:"../styles/style.css", sun_moon:"../media/svg/icons8-sun.svg"}) %>

<div class="card" >
    
    <form class="log-sign" id="SignIn" method="post" action="/signin">

        <p>SIGN IN</p>
        <input required name="email" class="user-input" id="Email" autocomplete="off" placeholder="Email">
        <input required name="username" class="user-input" id="username" autocomplete="off" placeholder="Username">
        <input required name="password" type="password" class="user-input" id="password" autocomplete="off" placeholder="Password">
        <input required name="confirmPassword" type="password" class="user-input" id="password" autocomplete="off" placeholder=" Confirm Password">
        <% if(locals.error) {%>
            <p class="error">*<%=error%></p>
            <%}%>
        <input class="log-btn" type="submit" value="Sign in">
        
    </form>
</div>


<%- include("partials/footer.ejs",{script:"../script.js"}) %>