:root{
    --nav-bg:#c3acd0;
    --doc-bg: #f7efe5;
    --button-border: #f1f1f1;
    --button:#7743db;
    --text-color:#170d2b;
}

body {
    margin: 0;
    height: 100vh;
    background-color: var(--doc-bg);
}
.radio-canada-big-font {
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--doc-bg);
}

.nav-bar {
    display: flex;
    align-items: center;
    margin: 0;
    background-color: var(--nav-bg);
    padding: 20px;
}
.title-group{
    display: flex;
    align-items: center;
    width: 50vw;
}
.title {
    display: inline;
    margin: 0%;
}
.nav-buttons {
    display: flex;
    align-items: center;
    width: 50vw;
}
.button {
    margin: 10px 15px;
}

.nav-btn-group{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50vw;
}

.darkmode-slider {
    display: flex;
    width: 50px;
    height: 20px;
    background-color: var(--doc-bg);
    border: solid var(--button-border);
    border-radius: 34px;
    padding: 2px;
}
.darkmode-icon {
    align-self: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--button-border);
}

.profile-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 2px;
    object-fit: cover;
    overflow: hidden;
}

.feeds {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.post {
    width: 50vw;
    height: 200px;
    border-radius: 15px;
    background-color: var(--button);
}

a {
    text-decoration: none;
    color: inherit;
}
.content {
    display: flex;
    justify-content: center;
}

.inp{
    margin: 20px;
}

.text {
    width: 90vw;
    min-height: 50px;
    border: 0;
    resize: none;
    background-color: var(--doc-bg);
}

.blog-title {
    font-size: 2rem;
}
.body-text {
    font-size: 1.25rem;
    height: auto;
    overflow-y: auto;
}

.submit-btn {
    display: flex;
    justify-content: end;
}

.publish {
    border: 0;
    border-radius: 50px;
    background-color: var(--button);
    padding: 5px;
}
.post {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin: 20px;
}

.post:hover {
    box-shadow: 0 0 30px var(--nav-bg);
}

.btn:hover {
    box-shadow: 0 0 10px var(--nav-bg);
}

.title-text {
    word-wrap: break-word;
}

.feeds {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.the-blog {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 60px;
}

.blog-content {
    color: var(--text-color);
}

.edit {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: end;
    width: 30px;
    height: 25px;
    padding: 5px;
    border-radius: 50px;
    margin:5px;
    width:50px;
    background-color: var(--button);
}

.empty {
    color: var(--nav-bg);
}
.log-sign{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width:40%;
    justify-content: center;
    align-items: center;
    background-color:  var(--nav-bg);
    border-radius: 10px;
    color: var(--button);

}
.sign-log-slider{
    display: flex;
    align-items: center;
    height: 50px;
    background-color: var(--doc-bg);
    border-radius: 90px;
    font-size: 24px;
}
.sign-log-text{
    margin:20px;
}

.card{
    display: flex;
    margin-top: 90px;
    justify-content: center;
    width: 100%;
    height: 90vh;
}

.user-input{
    margin:10px;
    width:40%;
    border: 2px solid var(--button);
    border-radius: 10px;
}

.log-btn{
    width:20%;
    border: 0;
    margin-top: 30px;
    border-radius: 50px;
    background-color: var(--button);
    padding: 5px;
}

.author{
    color: var(--text-color);
    align-self: end;
}

.delete-btn{
  text-decoration: none;
  color: var(--text-color);
  background-color: red;
  border: 0;
  height:30px;
  border-radius: 50px;
  padding: 5px;
  margin:5px;
}

input[type='submit']{
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--doc-bg);
}

.btn-group{
    display: flex;
    align-self: end;
    height: 40px;
    justify-content: center;
}

.error{
    font-weight: 200;
    color: red;
}